@model IEnumerable<Crawler.ViewModels.UriBetsToParseViewModel>
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


@foreach (var uri in Model)
{
    @uri
}

