@page
@model BetService.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="/Admin/Bet/Index">Bet</a>
</p>
<p>
    <a asp-page="/Admin/BetCategory/Index">BetCategory</a>
</p>
<p>
    <a asp-page="/Admin/Competition/Index">Competition</a>
</p>
<p>
    <a asp-page="/Admin/Event/Index">Event</a>
</p>
<p>
    <a asp-page="/Admin/Sport/Index">Sport</a>
</p>
