@page
@model BetService.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a href="./admin/bet">Bet</a>
</p>
<p>
    <a href="./admin/betcategory">BetCategory</a>
</p>
<p>
    <a href="./admin/competition">Competition</a>
</p>
<p>
    <a href="./admin/event">Event</a>
</p>
<p>
    <a href="./admin/sport">Sport</a>
</p>
